{% extends "base1.html" %}



{% block header %}
<h1 class="display-4">{{Heading}}</h1>
<p class="lead">{{Subheading}}</p>
{% endblock header %}

{% block content %}
<div class="container" style="height:500px"> 
    		<div class="table">
    			<br>
    		<table class="table table-striped">
			
			<tr>
				<th>Nama</th>
				<td>{{Bendung.nama}}</td>
			</tr>
			<tr>
				<th>Kategori</th>
				<td>{{Bendung.category}}</td>
			</tr>
			<tr>
				<th>Foto</th>
				<td>
					<!-- Images used to open the lightbox -->
					<div class="row">
					  <div class="column">
					    <img src="{{Bendung.foto1.url}}" onclick="openModal();currentSlide(1)" class="hover-shadow" style="width:75%">
					  </div>
					  <div class="column">
					    <img src="{{Bendung.foto2.url}}" onclick="openModal();currentSlide(2)" class="hover-shadow" style="width:75%">
					  </div>
					  <div class="column">
					    <img src="{{Bendung.foto3.url}}" onclick="openModal();currentSlide(3)" class="hover-shadow" style="width:75%">
					  </div>
					</div>
					<!-- The Modal/Lightbox -->
					<div id="myModal" class="modal">
					  <span class="close cursor" onclick="closeModal()">&times;</span>
					  <div class="modal-content">

					    <div class="mySlides">
					      <div class="numbertext">1 / 4</div>
					      <img src="{{Bendung.foto1.url}}" style="width:100%">
					    </div>

					    <div class="mySlides">
					      <div class="numbertext">2 / 4</div>
					      <img src="{{Bendung.foto2.url}}" style="width:100%">
					    </div>

					    <div class="mySlides">
					      <div class="numbertext">3 / 4</div>
					      <img src="{{Bendung.foto3.url}}" style="width:100%">
					    </div>

					        <!-- Next/previous controls -->
					    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					    <a class="next" onclick="plusSlides(1)">&#10095;</a>

					    <!-- Caption text -->
					    <div class="caption-container">
					      <p id="caption"></p>
					    </div>

					    <!-- Thumbnail image controls -->
					    <div class="column">
					      <img class="demo" src="{{Bendung.foto1.url}}" onclick="currentSlide(1)" alt="1" style="width:75%">
					    </div>

					    <div class="column">
					      <img class="demo" src="{{Bendung.foto2.url}}" onclick="currentSlide(2)" alt="2" style="width:75%">
					    </div>

					    <div class="column">
					      <img class="demo" src="{{Bendung.foto3.url}}" onclick="currentSlide(3)" alt="3" style="width:75%">
					    </div>


					  </div>
					</div>
				</td>
			</tr>
			</table>
			</div>

</div>
<script>
// Open the Modal
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
{% endblock content %}
