{% extends "base1.html" %}

{% block header %}
	<h1 class="display-4">{{Heading}}</h1>
    <p class="lead">{{Subheading}}</p>
{% endblock header %}

{% block content %}
	<div class="jumbotron">
	<h3>Pengantar</h3>
	<hr>
	<p class="lead text-justify">
		Daerah irigasi adalah kesatuan lahan yang mendapat air dari satu jaringan irigasi (Peraturan Pemerintah No. 20 Tahun 2006 tentang Irigasi). Daerah irigasi Danayuda merupakan salah satu daerah irigasi yang di kelola oleh Dinas Pekerjaan Umum Kabupaten Banyumas dengan luas areal 350 Ha. Sumber air yang ada di daerah irigasi Danayuda didapat dari sungai Berem yang terletak di Desa Linggasari, Kecamatan Kembaran, Kabupaten Banyumas. Daerah irigasi Danayuda melalui beberapa desa yaitu Linggasari, Purbadana,Karangtengah, Purwodadi, Lemberang, dan Klahang
	</p>
</div>
{% endblock content %}


